.ChatContainer {
  width: 100%;
  text-align: center;
  display: flex;
}
.Users-section{
  
}
.Chats-section{
  flex-grow: 1;
  background: #f8f9fa;
}

.emptyChatSection{
  width: 100%;
  height: 100%;
  background: #f8f9fa;
}


/* 
background: #23262b
box-shadow: -3px -3px 7px rgb(255 255 255 / 8%), 6px 6px 12px rgb(0 0 0 / 50%)
*/