.UserList{
  background: #f8f9fa;
  width: 400px;
  height: 100vh;
}
.UserList-header{
  height: 60px;
  background: #f0f0f0;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserList-header .User-pic{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}